/*!
Theme Name: Ion AP3 Child Theme
Author: Shane - 502 Media Group
Author URI: https://weare502.com
Description: A child theme for the Ion AP3 theme.
Version: 1.9.2
Template: ap3-ion-theme
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
* {
  box-sizing: border-box; }

html, body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  overflow-x: hidden; }

a {
  font-family: freight-sans-pro, helvetica, sans-serif;
  text-decoration: none;
  transition: 0.3s ease-out;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1; }
  a:hover {
    transition: 0.3s ease-out; }

img {
  max-width: 100%;
  height: auto; }

.hide-this {
  display: none; }

/***************************
	Wrappers & Ribbon Colors 
*/
.below-header-wrapper {
  max-width: 82.5rem;
  margin: 0 auto;
  position: relative; }
  .below-header-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("static/images/diamond-cutout-header.png");
    mix-blend-mode: overlay; }

.content-wrapper {
  max-width: 75rem;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .content-wrapper {
      margin: 2rem auto 0; } }

.financial:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: #BDBF42; }

.nutritional:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: #E4DF56; }

.physical:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: #3E9686; }

.emotional:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: #23575D; }

.wellbeing:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: #58D38C; }

p, span {
  font-size: 1.125rem;
  font-family: freight-sans-pro, helvetica, sans-serif !important;
  font-weight: normal;
  color: #191A18;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1; }

.shadow-text {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }

.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
  font-family: industry, helvetica, sans-serif;
  font-weight: bold;
  color: #191A18;
  line-height: 1.2;
  text-transform: uppercase; }
  .h1-heading--w,
  .h2-heading--w,
  .h3-heading--w,
  .h4-heading--w,
  .h5-heading--w,
  .h6-heading--w,
  h1--w, h2--w, h3--w,
  h4--w, h5--w, h6--w {
    color: #FFF;
    font-weight: bold; }

h1, .h1-heading {
  font-size: 1.5rem;
  letter-spacing: 1px; }
  @media (min-width: 480px) {
    h1, .h1-heading {
      font-size: 3rem; } }
  @media (min-width: 768px) {
    h1, .h1-heading {
      font-size: 3.75rem;
      letter-spacing: 10px; } }

h2, .h2-heading {
  font-size: 3rem; }

h3, .h3-heading {
  font-size: 1.6rem; }
  @media (min-width: 768px) {
    h3, .h3-heading {
      font-size: 2.25rem; } }

h4, .h4-heading {
  font-size: 1.75rem; }

h5, .h5-heading {
  font-size: 1.5rem; }

h6, .h6-heading {
  font-size: 1.25rem; }

label {
  font-size: 1.125rem;
  font-weight: 600; }

.learn-more {
  color: #3E9686;
  font-size: 1.125rem; }
  .learn-more:hover {
    text-decoration: underline; }

.learn-more-white {
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 600; }
  .learn-more-white:hover {
    text-decoration: underline; }

.arrow-button-header, .arrow-button {
  display: inline-block;
  background-color: #FFF;
  font-size: 1.125rem;
  font-weight: 600;
  font-family: freight-sans-pro, helvetica, sans-serif;
  text-align: center;
  padding: 0.3rem 2.5rem 0.3rem 1rem;
  position: relative;
  -webkit-clip-path: polygon(0% 0%, 78% 0%, 86% 50%, 78% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 78% 0%, 86% 50%, 78% 100%, 0% 100%);
  color: #000;
  margin-top: 3rem; }
  @media (min-width: 768px) {
    .arrow-button-header, .arrow-button {
      padding: 0.7rem 7rem 0.7rem 4.8rem; } }
  .arrow-button-header:hover, .arrow-button:hover {
    background: #3E9686;
    color: #FFF;
    cursor: pointer; }

.arrow-button {
  text-align: left; }

.read-story-button {
  display: inline-block;
  background-color: #FFF;
  font-size: 1.125rem;
  font-weight: 600;
  -webkit-clip-path: polygon(0% 0%, 78% 0%, 86% 50%, 78% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 78% 0%, 86% 50%, 78% 100%, 0% 100%);
  padding: 0.7rem 5rem 0.7rem 0.7rem; }

.box-button, #gform_wrapper_2 .gform_footer input[type=submit], #gform_wrapper_3 .gform_footer input[type=submit], #gform_wrapper_4 .gform_footer input[type=submit], #gform_wrapper_5 .gform_footer input[type=submit] {
  display: inline-block;
  width: 14rem;
  background-color: #3E9686;
  color: #FFF;
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 1.125rem;
  font-weight: bold; }
  .box-button:hover, #gform_wrapper_2 .gform_footer input:hover[type=submit], #gform_wrapper_3 .gform_footer input:hover[type=submit], #gform_wrapper_4 .gform_footer input:hover[type=submit], #gform_wrapper_5 .gform_footer input:hover[type=submit] {
    background-color: #23575D; }

.slim-button {
  border: 1px solid #191A18;
  padding: 0.4rem 1.5rem;
  color: #191A18;
  font-size: 1.125rem; }
  .slim-button:hover {
    background-color: #191A18;
    color: #FFF; }

.center-button {
  max-width: 100%;
  margin: 1rem auto 4rem;
  text-align: center; }
  @media (min-width: 768px) {
    .center-button {
      margin: 6rem auto 8rem; } }
  .center-button #load-more-posts {
    transition: 0.3s ease-out;
    border: none; }
    .center-button #load-more-posts:hover {
      transition: 0.3s ease-out;
      cursor: pointer; }

.center-button-alt {
  max-width: 100%;
  margin: 1rem auto 3rem;
  text-align: center; }
  @media (min-width: 768px) {
    .center-button-alt {
      margin: 2rem auto; } }
  .center-button-alt #load-more-posts {
    transition: 0.3s ease-out;
    border: none; }
    .center-button-alt #load-more-posts:hover {
      transition: 0.3s ease-out;
      cursor: pointer; }

/*
 * All Gravity Forms Styles
*/
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
  line-height: 1.5 !important; }

.gfs-main-container {
  display: flex;
  padding-bottom: 0.5rem;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEE; }
  @media (min-width: 1023px) {
    .gfs-main-container {
      flex-direction: row;
      align-items: initial;
      justify-content: space-between; } }
  .gfs-main-container h4 {
    text-align: center;
    margin-bottom: 0; }
    @media (min-width: 1023px) {
      .gfs-main-container h4 {
        padding-left: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 0;
        margin-right: 1.5rem; } }
  .gfs-main-container #gform_wrapper_1 {
    margin: 0 !important; }
    .gfs-main-container #gform_wrapper_1 ul, .gfs-main-container #gform_wrapper_1 li {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important; }
    .gfs-main-container #gform_wrapper_1 ul {
      -webkit-margin-before: 0 !important;
      -webkit-margin-after: 0 !important;
      -webkit-padding-start: 0 !important; }
  .gfs-main-container .gform_heading {
    display: none; }
  .gfs-main-container #gform_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media (min-width: 1023px) {
      .gfs-main-container #gform_1 {
        flex-direction: row; } }
  .gfs-main-container #gform_fields_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 75rem; }
    @media (min-width: 1023px) {
      .gfs-main-container #gform_fields_1 {
        flex-direction: row;
        justify-content: space-between;
        align-items: initial; } }
  .gfs-main-container .ginput_container input {
    width: 10rem !important;
    border: 0;
    border-radius: 4px; }
  .gfs-main-container .ginput_container {
    margin-top: 0 !important; }
  .gfs-main-container .gfield_label {
    display: none !important; }
  .gfs-main-container .gform_footer {
    margin-top: 0.3rem !important;
    text-align: center; }
  .gfs-main-container #gform_submit_button_1 {
    padding: 5px 1.6rem !important;
    background: none;
    border: 1px solid #191A18;
    color: #191A18;
    transition: 0.3s ease-out;
    width: 12rem; }
    @media (min-width: 1023px) {
      .gfs-main-container #gform_submit_button_1 {
        width: auto; } }
    .gfs-main-container #gform_submit_button_1:hover {
      transition: 0.3s ease-out;
      background-color: #191A18;
      color: #FFF;
      cursor: pointer; }
  @media (min-width: 1023px) {
    .gfs-main-container #input_1_1 {
      width: 15rem !important; } }

@media (max-width: 63.9375em) {
  #field_1_1 div input,
  #field_1_3 div input,
  #field_1_4 div input,
  #field_1_5 div input {
    width: 20rem !important; } }

/*********************************/
#gform_wrapper_2 {
  max-width: 100%; }
  #gform_wrapper_2 #input_2_1,
  #gform_wrapper_2 #input_2_2,
  #gform_wrapper_2 #input_2_3,
  #gform_wrapper_2 #input_2_4 {
    width: 100%;
    border: 1px solid #3E9686;
    background-color: transparent;
    color: #3E9686; }
    #gform_wrapper_2 #input_2_1::-webkit-input-placeholder,
    #gform_wrapper_2 #input_2_2::-webkit-input-placeholder,
    #gform_wrapper_2 #input_2_3::-webkit-input-placeholder,
    #gform_wrapper_2 #input_2_4::-webkit-input-placeholder {
      color: #3E9686;
      opacity: 1 !important; }
    #gform_wrapper_2 #input_2_1:-ms-input-placeholder,
    #gform_wrapper_2 #input_2_2:-ms-input-placeholder,
    #gform_wrapper_2 #input_2_3:-ms-input-placeholder,
    #gform_wrapper_2 #input_2_4:-ms-input-placeholder {
      color: #3E9686;
      opacity: 1 !important; }
    #gform_wrapper_2 #input_2_1::-ms-input-placeholder,
    #gform_wrapper_2 #input_2_2::-ms-input-placeholder,
    #gform_wrapper_2 #input_2_3::-ms-input-placeholder,
    #gform_wrapper_2 #input_2_4::-ms-input-placeholder {
      color: #3E9686;
      opacity: 1 !important; }
    #gform_wrapper_2 #input_2_1::placeholder,
    #gform_wrapper_2 #input_2_2::placeholder,
    #gform_wrapper_2 #input_2_3::placeholder,
    #gform_wrapper_2 #input_2_4::placeholder {
      color: #3E9686;
      opacity: 1 !important; }
  #gform_wrapper_2 #input_2_4 {
    margin-top: 0.8rem;
    padding: 6px 4px; }
  #gform_wrapper_2 .gform_footer {
    margin-top: 0.7rem;
    margin-bottom: 5.5rem;
    padding-top: 0; }
    #gform_wrapper_2 .gform_footer input[type=submit] {
      border: none;
      transition: 0.3s ease-out;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      width: 10rem; }
      #gform_wrapper_2 .gform_footer input[type=submit]:hover {
        cursor: pointer;
        transition: 0.3s ease-out; }
      @media (min-width: 1023px) {
        #gform_wrapper_2 .gform_footer input[type=submit] {
          padding-top: 0.7rem;
          padding-bottom: 0.7rem;
          width: 15rem; } }

#gform_wrapper_3 #input_3_1 {
  padding: 6px 4px;
  color: #3E9686;
  background-color: transparent;
  border: 1px solid #3E9686; }
  #gform_wrapper_3 #input_3_1::-webkit-input-placeholder {
    opacity: 1 !important; }
  #gform_wrapper_3 #input_3_1:-ms-input-placeholder {
    opacity: 1 !important; }
  #gform_wrapper_3 #input_3_1::-ms-input-placeholder {
    opacity: 1 !important; }
  #gform_wrapper_3 #input_3_1::placeholder {
    opacity: 1 !important; }

#gform_wrapper_3 .gform_footer {
  margin-top: 0.7rem;
  margin-bottom: 5.5rem;
  padding-top: 0; }
  #gform_wrapper_3 .gform_footer input[type=submit] {
    border: none;
    transition: 0.3s ease-out;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    width: 10rem; }
    #gform_wrapper_3 .gform_footer input[type=submit]:hover {
      cursor: pointer;
      transition: 0.3s ease-out; }
    @media (min-width: 1023px) {
      #gform_wrapper_3 .gform_footer input[type=submit] {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        width: 15rem; } }

#gform_wrapper_4 li {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

#gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  color: #3E9686;
  font-size: 1rem;
  font-weight: normal; }
  #gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-webkit-input-placeholder {
    opacity: 1 !important;
    font-size: 1rem;
    font-weight: normal; }
  #gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):-ms-input-placeholder {
    opacity: 1 !important;
    font-size: 1rem;
    font-weight: normal; }
  #gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-ms-input-placeholder {
    opacity: 1 !important;
    font-size: 1rem;
    font-weight: normal; }
  #gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::placeholder {
    opacity: 1 !important;
    font-size: 1rem;
    font-weight: normal; }

#gform_wrapper_4 #field_4_9 .gfield_label,
#gform_wrapper_4 #field_4_12 .gfield_label {
  font-weight: normal; }

#gform_wrapper_4 #field_4_13 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0; }
  #gform_wrapper_4 #field_4_13 ul li {
    margin-top: 3px;
    margin-bottom: 3px; }

#gform_wrapper_4 #field_4_14 {
  border-top: 1px solid #3E9686;
  margin-bottom: 0;
  padding-bottom: 0; }

#gform_wrapper_4 #choice_4_14_1 {
  margin-top: -4px; }

#gform_wrapper_4 .gform_footer {
  margin-top: 0.7rem;
  margin-bottom: 0rem;
  padding-top: 0; }
  #gform_wrapper_4 .gform_footer input[type=submit] {
    border: none;
    transition: 0.3s ease-out;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    width: 10rem; }
    #gform_wrapper_4 .gform_footer input[type=submit]:hover {
      cursor: pointer;
      transition: 0.3s ease-out; }
    @media (min-width: 1023px) {
      #gform_wrapper_4 .gform_footer input[type=submit] {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        width: 15rem; } }

#gform_wrapper_5 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  color: #3E9686;
  font-size: 1rem;
  font-weight: normal; }
  #gform_wrapper_5 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-webkit-input-placeholder {
    opacity: 1 !important;
    font-size: 1rem;
    font-weight: normal; }
  #gform_wrapper_5 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):-ms-input-placeholder {
    opacity: 1 !important;
    font-size: 1rem;
    font-weight: normal; }
  #gform_wrapper_5 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::-ms-input-placeholder {
    opacity: 1 !important;
    font-size: 1rem;
    font-weight: normal; }
  #gform_wrapper_5 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])::placeholder {
    opacity: 1 !important;
    font-size: 1rem;
    font-weight: normal; }

#gform_wrapper_5 .gfield_checkbox li > input[type=checkbox] {
  margin-top: 0;
  margin-right: 5px; }

#gform_wrapper_5 #field_5_6 {
  margin-top: 2.5rem; }

#gform_wrapper_5 #field_5_9 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

#gform_wrapper_5 .gform_footer {
  margin-top: 0.7rem;
  margin-bottom: 5.5rem;
  padding-top: 0; }
  #gform_wrapper_5 .gform_footer input[type=submit] {
    border: none;
    transition: 0.3s ease-out;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    width: 10rem; }
    #gform_wrapper_5 .gform_footer input[type=submit]:hover {
      cursor: pointer;
      transition: 0.3s ease-out; }
    @media (min-width: 1023px) {
      #gform_wrapper_5 .gform_footer input[type=submit] {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        width: 15rem; } }

.header-image-container {
  max-width: 100%;
  position: relative;
  background-blend-mode: multiply;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center; }
  .header-image-container .container-sizer {
    visibility: hidden; }
  .header-image-container__inner {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    z-index: 15; }
    .header-image-container__inner h1 {
      margin-bottom: 0; }
    .header-image-container__inner p {
      margin-top: 0;
      color: #FFF !important;
      font-weight: 600;
      padding: 0 0.5rem; }
      @media (min-width: 1023px) {
        .header-image-container__inner p {
          padding: initial; } }
    .header-image-container__inner .shadow-text a {
      color: #FFF;
      border-bottom: 2px solid #FFF; }
      .header-image-container__inner .shadow-text a:hover {
        color: #191A18; }
    .header-image-container__inner h1, .header-image-container__inner p, .header-image-container__inner a {
      max-width: 16rem;
      margin: 0 auto; }
      @media (min-width: 768px) {
        .header-image-container__inner h1, .header-image-container__inner p, .header-image-container__inner a {
          max-width: 60rem; } }
    .header-image-container__inner .arrow-button-header, .header-image-container__inner .arrow-button {
      margin-bottom: 0; }
      @media (min-width: 768px) {
        .header-image-container__inner .arrow-button-header, .header-image-container__inner .arrow-button {
          margin-bottom: 1.5rem; } }
      @media (min-width: 1023px) {
        .header-image-container__inner .arrow-button-header, .header-image-container__inner .arrow-button {
          margin-bottom: 0; } }
    .header-image-container__inner .move-right {
      margin-left: 2.2rem;
      margin-top: 5px; }
      @media (min-width: 768px) {
        .header-image-container__inner .move-right {
          margin-top: 3rem; } }
    .header-image-container__inner .overlay {
      max-width: 100%; }
    .header-image-container__inner .close-button {
      position: absolute;
      top: 0;
      right: 0;
      width: 3rem;
      z-index: 20;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      border: none; }
      .header-image-container__inner .close-button:hover {
        cursor: pointer; }
  .header-image-container .fade-in {
    visibility: visible;
    opacity: 1;
    transition: 1s ease-out; }
  .header-image-container .fade-out {
    visibility: hidden;
    opacity: 0;
    transition: 0.6s ease-in; }

.footer-wrapper {
  max-width: 100%;
  background: url("static/images/concrete-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(57, 57, 57, 0.8);
  background-blend-mode: multiply;
  padding: 0 0.8rem; }

.footer-main-container {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  @media (min-width: 768px) {
    .footer-main-container {
      flex-direction: row;
      justify-content: space-between;
      text-align: left; } }
  .footer-main-container .footer-contact a {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: bold; }
  .footer-main-container .footer-contact .blockify {
    display: block;
    margin-bottom: 0.7rem; }
    .footer-main-container .footer-contact .blockify:first-of-type {
      margin-top: 1.6rem; }
  .footer-main-container .footer-contact span:first-of-type {
    margin-right: 1.3rem; }
  .footer-main-container .footer-link-menu ul {
    list-style-type: none;
    padding-left: 0; }
  .footer-main-container .footer-link-menu li {
    margin-bottom: 10px; }
    .footer-main-container .footer-link-menu li:first-of-type {
      margin-top: 2.5rem; }
  .footer-main-container .footer-link-menu a {
    color: #FFF;
    font-size: 1.125rem; }
    .footer-main-container .footer-link-menu a:hover {
      text-decoration: underline; }

.main-content {
  max-width: 100%;
  margin: 0 auto; }
  .main-content__intro-text {
    max-width: 50rem;
    margin: 0 auto 2rem;
    padding: 0 1rem; }
    .main-content__intro-text p {
      color: #191A18 !important; }
    .main-content__intro-text h3 {
      padding-top: 2rem;
      text-align: center;
      margin-bottom: 0; }
  .main-content__posts {
    max-width: 75rem;
    margin: 0 auto 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    flex-wrap: wrap; }
    @media (min-width: 768px) {
      .main-content__posts {
        flex-direction: row;
        padding: 0; } }
    @media (min-width: 1023px) {
      .main-content__posts {
        justify-content: flex-start;
        align-items: flex-start; } }
    .main-content__posts .show-more-boxes {
      display: none; }
      .main-content__posts .show-more-boxes.stagger-boxes {
        display: block; }
    .main-content__posts .stagger-boxes {
      padding: 0.5rem;
      margin-bottom: 1rem; }
      .main-content__posts .stagger-boxes .stagger-inner {
        min-height: 15rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 0.3s ease-out;
        padding-top: 1rem;
        position: relative; }
        .main-content__posts .stagger-boxes .stagger-inner:hover {
          transition: 0.3s ease-in;
          opacity: 0.8; }
        .main-content__posts .stagger-boxes .stagger-inner .read-story-button {
          position: absolute;
          bottom: 1rem;
          left: 0; }
        .main-content__posts .stagger-boxes .stagger-inner .ribbon {
          max-width: 16.2rem;
          position: relative; }
          .main-content__posts .stagger-boxes .stagger-inner .ribbon .inner-content {
            position: relative;
            padding-left: 0.7rem; }
            .main-content__posts .stagger-boxes .stagger-inner .ribbon .inner-content p {
              margin-top: 0;
              padding-top: 0.5rem;
              color: #FFF;
              margin-bottom: 0.1rem; }
            .main-content__posts .stagger-boxes .stagger-inner .ribbon .inner-content h5 {
              margin-top: 0;
              padding-bottom: 0.5rem; }
      .main-content__posts .stagger-boxes:nth-child(6n+1) {
        max-width: 20rem;
        min-width: 17.2rem; }
        @media (min-width: 375px) {
          .main-content__posts .stagger-boxes:nth-child(6n+1) {
            width: 23rem; } }
        @media (min-width: 1023px) {
          .main-content__posts .stagger-boxes:nth-child(6n+1) {
            width: 25%; } }
      .main-content__posts .stagger-boxes:nth-child(6n+2) {
        max-width: 20rem;
        min-width: 17.2rem; }
        @media (min-width: 375px) {
          .main-content__posts .stagger-boxes:nth-child(6n+2) {
            width: 23rem; } }
        @media (min-width: 1023px) {
          .main-content__posts .stagger-boxes:nth-child(6n+2) {
            width: 25%; } }
      .main-content__posts .stagger-boxes:nth-child(6n+3) {
        max-width: 20rem;
        min-width: 17.2rem; }
        @media (min-width: 375px) {
          .main-content__posts .stagger-boxes:nth-child(6n+3) {
            width: 23rem; } }
        @media (min-width: 1023px) {
          .main-content__posts .stagger-boxes:nth-child(6n+3) {
            width: 50%; } }
      .main-content__posts .stagger-boxes:nth-child(6n+4) {
        max-width: 20rem;
        min-width: 17.2rem; }
        @media (min-width: 375px) {
          .main-content__posts .stagger-boxes:nth-child(6n+4) {
            width: 23rem; } }
        @media (min-width: 1023px) {
          .main-content__posts .stagger-boxes:nth-child(6n+4) {
            width: calc(100%/3); } }
      .main-content__posts .stagger-boxes:nth-child(6n+5) {
        max-width: 20rem;
        min-width: 17.2rem; }
        @media (min-width: 375px) {
          .main-content__posts .stagger-boxes:nth-child(6n+5) {
            width: 23rem; } }
        @media (min-width: 1023px) {
          .main-content__posts .stagger-boxes:nth-child(6n+5) {
            width: calc(100%/3); } }
      .main-content__posts .stagger-boxes:nth-child(6n+6) {
        max-width: 20rem;
        min-width: 17.2rem; }
        @media (min-width: 375px) {
          .main-content__posts .stagger-boxes:nth-child(6n+6) {
            width: 23rem; } }
        @media (min-width: 1023px) {
          .main-content__posts .stagger-boxes:nth-child(6n+6) {
            width: calc(100%/3); } }

.alt-header-container .arrow-button-header, .alt-header-container .arrow-button {
  padding: 0.3rem 2.8rem 0.3rem 0.7rem; }
  @media (min-width: 768px) {
    .alt-header-container .arrow-button-header, .alt-header-container .arrow-button {
      padding: 0.7rem 4.8rem 0.7rem 2rem; } }

.alt-styles-financial p:last-of-type {
  margin-top: 1rem; }

.alt-styles-financial .arrow-button-header, .alt-styles-financial .arrow-button {
  padding: 0.3rem 2.8rem 0.3rem 1rem; }
  @media (min-width: 768px) {
    .alt-styles-financial .arrow-button-header, .alt-styles-financial .arrow-button {
      margin-top: 5rem;
      padding: 0.7rem 4.8rem 0.7rem 2rem; } }

.alt-styles-financial .hide-on-mobile {
  display: none; }
  @media (min-width: 768px) {
    .alt-styles-financial .hide-on-mobile {
      display: block; } }

.alt-styles-financial .hide-on-desktop {
  display: block;
  margin-top: 0.5rem; }
  @media (min-width: 768px) {
    .alt-styles-financial .hide-on-desktop {
      display: none; } }

.alt-default-template {
  margin-bottom: 0; }
  .alt-default-template .ambassador-lists {
    list-style-type: disc;
    padding-left: 1.8rem !important; }

.gym-locator-container {
  max-width: 75rem; }
  @media (min-width: 768px) {
    .gym-locator-container {
      margin: 0 auto 10rem; } }
  .gym-locator-container h3, .gym-locator-container h4 {
    text-align: center; }
  .gym-locator-container h3 {
    font-size: 1.3rem; }
  .gym-locator-container h4 {
    font-size: 1.2rem; }
  .gym-locator-container h3:first-of-type {
    margin-top: 2rem; }

.gym-header {
  margin: 4rem auto 1rem;
  padding: 0 2rem;
  max-width: 32rem;
  text-align: center; }
  @media (min-width: 768px) {
    .gym-header {
      margin: 4rem auto 2rem;
      padding: 0; } }

.gym-finder {
  max-width: 100%;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .gym-finder {
      flex-direction: row;
      align-items: initial;
      justify-content: space-between;
      padding: 0; } }
  .gym-finder--has-insurance, .gym-finder--no-insurance {
    background-color: #3E9686;
    width: 19rem;
    padding: 1.5rem 1.5rem 1rem;
    text-align: center; }
    .gym-finder--has-insurance h3, .gym-finder--no-insurance h3 {
      max-width: 26.6rem;
      color: #FFF;
      margin: 0 auto; }
    .gym-finder--has-insurance p, .gym-finder--no-insurance p {
      color: #FFF;
      text-align: left;
      min-height: 6rem; }
    .gym-finder--has-insurance .arrow-button-header, .gym-finder--has-insurance .arrow-button, .gym-finder--no-insurance .arrow-button-header, .gym-finder--no-insurance .arrow-button {
      margin-top: 0;
      margin-left: 2rem; }
      .gym-finder--has-insurance .arrow-button-header:hover, .gym-finder--has-insurance .arrow-button:hover, .gym-finder--no-insurance .arrow-button-header:hover, .gym-finder--no-insurance .arrow-button:hover {
        background-color: #23575D; }
  .gym-finder--has-insurance {
    margin-bottom: 2.5rem; }
    @media (min-width: 1158px) {
      .gym-finder--has-insurance {
        margin-bottom: 0; } }

.provider-container, .provider-container-benefits {
  max-width: 100%;
  margin: 0 auto 1rem;
  padding: 0.5rem; }
  @media (min-width: 1023px) {
    .provider-container, .provider-container-benefits {
      margin: 1rem auto 10rem;
      padding: 0; } }
  .provider-container h3, .provider-container-benefits h3 {
    text-align: center;
    margin-bottom: 1.2rem; }
  .provider-container__provider, .provider-container-benefits__provider {
    max-width: 50rem;
    margin: 0 auto; }
    .provider-container__provider .provider-service, .provider-container__provider .last, .provider-container-benefits__provider .provider-service, .provider-container-benefits__provider .last {
      display: flex;
      max-width: 50rem;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 1rem 0;
      border-top: 1px solid #191A18;
      text-align: center; }
      @media (min-width: 768px) {
        .provider-container__provider .provider-service, .provider-container__provider .last, .provider-container-benefits__provider .provider-service, .provider-container-benefits__provider .last {
          flex-direction: row;
          justify-content: space-between;
          text-align: left; } }
      .provider-container__provider .provider-service .img-container, .provider-container__provider .last .img-container, .provider-container-benefits__provider .provider-service .img-container, .provider-container-benefits__provider .last .img-container {
        width: 11.5rem; }
      .provider-container__provider .provider-service .text-container, .provider-container__provider .last .text-container, .provider-container-benefits__provider .provider-service .text-container, .provider-container-benefits__provider .last .text-container {
        width: 12rem;
        font-weight: 600; }
      .provider-container__provider .provider-service .align-left, .provider-container__provider .last .align-left, .provider-container-benefits__provider .provider-service .align-left, .provider-container-benefits__provider .last .align-left {
        width: 9.5rem;
        text-align: center; }
        @media (min-width: 768px) {
          .provider-container__provider .provider-service .align-left, .provider-container__provider .last .align-left, .provider-container-benefits__provider .provider-service .align-left, .provider-container-benefits__provider .last .align-left {
            text-align: left; } }
      .provider-container__provider .provider-service span:not(.img-container), .provider-container__provider .provider-service img, .provider-container__provider .provider-service a, .provider-container__provider .last span:not(.img-container), .provider-container__provider .last img, .provider-container__provider .last a, .provider-container-benefits__provider .provider-service span:not(.img-container), .provider-container-benefits__provider .provider-service img, .provider-container-benefits__provider .provider-service a, .provider-container-benefits__provider .last span:not(.img-container), .provider-container-benefits__provider .last img, .provider-container-benefits__provider .last a {
        margin: 1rem 0; }
        @media (min-width: 768px) {
          .provider-container__provider .provider-service span:not(.img-container), .provider-container__provider .provider-service img, .provider-container__provider .provider-service a, .provider-container__provider .last span:not(.img-container), .provider-container__provider .last img, .provider-container__provider .last a, .provider-container-benefits__provider .provider-service span:not(.img-container), .provider-container-benefits__provider .provider-service img, .provider-container-benefits__provider .provider-service a, .provider-container-benefits__provider .last span:not(.img-container), .provider-container-benefits__provider .last img, .provider-container-benefits__provider .last a {
            margin: 0; } }
    .provider-container__provider .last, .provider-container-benefits__provider .last {
      border-bottom: 1px solid #191A18; }

.alt-main-contact {
  max-width: 50rem;
  margin: 0 auto 2rem;
  padding: 1rem; }
  @media (min-width: 1023px) {
    .alt-main-contact {
      padding: 0;
      margin: 0 auto 11rem; } }
  .alt-main-contact h3 {
    margin-bottom: 0; }
    .alt-main-contact h3:first-of-type {
      margin-top: 0; }
    .alt-main-contact h3:last-of-type {
      margin-bottom: 1.5rem; }
  .alt-main-contact .center-heading {
    text-align: center; }
    @media (min-width: 768px) {
      .alt-main-contact .center-heading {
        text-align: left; } }

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .contact-info {
      align-items: initial;
      justify-content: space-between;
      flex-direction: row; } }
  .contact-info p {
    font-weight: 600; }
  .contact-info a {
    color: #191A18; }

.story-wrapper {
  max-width: 50rem;
  margin: 2rem auto 0;
  padding-left: 1rem;
  padding-right: 1rem; }
  .story-wrapper .subheading {
    margin-bottom: 1rem; }
  .story-wrapper h5, .story-wrapper h6 {
    margin-bottom: 0; }
  .story-wrapper a {
    color: #3E9686;
    font-size: 1.125rem;
    text-decoration: underline; }
  .story-wrapper ol, .story-wrapper ul {
    padding-bottom: 1rem; }
    .story-wrapper ol li, .story-wrapper ul li {
      display: list-item !important;
      color: #191A18;
      font-family: freight-sans-pro, helvetica, sans-serif;
      font-size: 1.125rem; }
  .story-wrapper ul {
    list-style-type: disc !important; }
  .story-wrapper p, .story-wrapper .p1 {
    padding-bottom: 1rem;
    color: #191A18 !important; }
  .story-wrapper .p1 iframe, .story-wrapper p iframe, .story-wrapper iframe {
    width: 285px !important;
    height: 150px !important; }
    @media (min-width: 768px) {
      .story-wrapper .p1 iframe, .story-wrapper p iframe, .story-wrapper iframe {
        width: 500px !important;
        height: 281px !important; } }

.mini-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50rem;
  max-width: 100%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .mini-gallery {
      flex-direction: row;
      align-items: initial;
      justify-content: space-between;
      margin-bottom: 2rem; } }
  .mini-gallery img {
    padding: 1.3rem 0.5rem; }
    .mini-gallery img:nth-child(5n+1) {
      width: 20rem; }
      @media (min-width: 768px) {
        .mini-gallery img:nth-child(5n+1) {
          width: 50%;
          height: 16.25rem; } }
    .mini-gallery img:nth-child(5n+2) {
      width: 20rem; }
      @media (min-width: 768px) {
        .mini-gallery img:nth-child(5n+2) {
          width: 50%;
          height: 16.25rem; } }
    .mini-gallery img:nth-child(5n+3) {
      width: 20rem;
      height: 80%; }
      @media (min-width: 768px) {
        .mini-gallery img:nth-child(5n+3) {
          width: calc(100%/3); } }
    .mini-gallery img:nth-child(5n+4) {
      width: 20rem;
      height: 80%; }
      @media (min-width: 768px) {
        .mini-gallery img:nth-child(5n+4) {
          width: calc(100%/3); } }
    .mini-gallery img:nth-child(5n+5) {
      width: 20rem;
      height: 80%; }
      @media (min-width: 768px) {
        .mini-gallery img:nth-child(5n+5) {
          width: calc(100%/3); } }

.featured-book {
  margin: 0 auto 2rem;
  max-width: 50rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .featured-book {
      flex-direction: row;
      align-items: initial;
      justify-content: space-between; } }
  .featured-book .featured-image img {
    max-width: 18rem; }
    @media (min-width: 768px) {
      .featured-book .featured-image img {
        margin-right: 1rem; } }
  .featured-book .featured-info {
    text-align: center;
    max-width: 29.5rem; }
    @media (min-width: 768px) {
      .featured-book .featured-info {
        text-align: left; } }
    .featured-book .featured-info .book-title {
      font-size: 1.25rem;
      font-family: industry, helvetica, sans-serif;
      color: #000;
      font-weight: bold;
      text-decoration: underline;
      transition: none; }
      .featured-book .featured-info .book-title:hover {
        transition: none;
        color: #3E9686; }
    .featured-book .featured-info h6 {
      font-family: freight-sans-pro, helvetica, sans-serif;
      text-transform: none;
      font-weight: 600;
      margin-top: 0.1rem;
      margin-bottom: 0.1rem; }
    .featured-book .featured-info p {
      color: #191A18 !important; }

.related-stories {
  background-color: #FFF;
  position: relative;
  margin-bottom: 0;
  width: 100vw;
  left: 50%;
  margin-left: -50vw; }
  @media (min-width: 1023px) {
    .related-stories {
      margin-bottom: 9rem; } }
  .related-stories h4 {
    margin: 0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center; }
  .related-stories .stagger-boxes:nth-child(3n+1), .related-stories .stagger-boxes:nth-child(3n+2), .related-stories .stagger-boxes:nth-child(3n+3) {
    width: 20rem; }
    @media (min-width: 768px) {
      .related-stories .stagger-boxes:nth-child(3n+1), .related-stories .stagger-boxes:nth-child(3n+2), .related-stories .stagger-boxes:nth-child(3n+3) {
        width: calc(100%/3); } }
  .related-stories .center-button {
    max-width: 100%;
    margin: 0 auto; }
  .related-stories .box-button, .related-stories #gform_wrapper_2 .gform_footer input[type=submit], #gform_wrapper_2 .gform_footer .related-stories input[type=submit], .related-stories #gform_wrapper_3 .gform_footer input[type=submit], #gform_wrapper_3 .gform_footer .related-stories input[type=submit], .related-stories #gform_wrapper_4 .gform_footer input[type=submit], #gform_wrapper_4 .gform_footer .related-stories input[type=submit], .related-stories #gform_wrapper_5 .gform_footer input[type=submit], #gform_wrapper_5 .gform_footer .related-stories input[type=submit] {
    margin-bottom: 2.5rem; }

.archive-title {
  text-align: center;
  border-bottom: 1px solid #000;
  margin-bottom: 2rem;
  margin-top: 1.5rem; }
  .archive-title h1 {
    margin-bottom: 0; }

.hide-filter-desktop {
  display: block;
  text-align: center; }
  @media (min-width: 768px) {
    .hide-filter-desktop {
      display: none; } }

.filter-head {
  display: flex;
  max-width: 52rem;
  margin: 0 auto 3rem;
  justify-content: space-between;
  flex-wrap: wrap; }
  .filter-head .switch-category-all,
  .filter-head .switch-category-financial,
  .filter-head .switch-category-physical,
  .filter-head .switch-category-emotional,
  .filter-head .switch-category-nutritional,
  .filter-head .switch-category-wellbeing {
    width: 8rem;
    outline: none;
    margin: 0;
    border: none;
    background: transparent; }
    .filter-head .switch-category-all:hover,
    .filter-head .switch-category-financial:hover,
    .filter-head .switch-category-physical:hover,
    .filter-head .switch-category-emotional:hover,
    .filter-head .switch-category-nutritional:hover,
    .filter-head .switch-category-wellbeing:hover {
      cursor: pointer;
      text-decoration: none;
      border: 1px solid #3E9686; }
  .filter-head .selected-category {
    border: 1px solid #3E9686; }
  .filter-head .hide-filter-mobile {
    display: none; }
    @media (min-width: 768px) {
      .filter-head .hide-filter-mobile {
        display: initial; } }

#wpsl-wrap {
  padding: 0.4rem; }

.wpsl-search {
  margin-bottom: 0;
  padding: 0; }

#wpsl-search-wrap {
  max-width: 75rem;
  margin: 0 auto;
  background-color: #EEE; }
  #wpsl-search-wrap form {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap; }
    @media (min-width: 768px) {
      #wpsl-search-wrap form {
        flex-direction: row;
        align-items: initial;
        justify-content: space-between; } }
    #wpsl-search-wrap form div {
      margin-right: 0; }

.wpsl-input {
  margin-bottom: 0; }

#wpsl-search-wrap div:not(#wpsl-results) label {
  width: 8rem;
  margin-top: 0.2rem;
  color: #000; }

#wpsl-search-wrap div#wpsl-results label {
  width: 5rem !important;
  margin-top: 0.2rem;
  color: #000; }

#wpsl-search-btn, #wpsl-search-wrap input[type="submit"] {
  border: 1px solid #191A18;
  border-radius: 0;
  background-color: #EEE;
  background-image: none;
  color: #191A18;
  padding: 0.4rem 1.6rem;
  transition: 0.3s ease-out; }
  #wpsl-search-btn:hover, #wpsl-search-wrap input[type="submit"]:hover {
    transition: 0.3s ease-out;
    background-color: #191A18;
    color: #FFF; }

#wpsl-gmap {
  height: 350px !important; }
  @media (min-width: 768px) {
    #wpsl-gmap {
      height: 572px !important; } }

#wpsl-stores {
  height: 175px; }
  @media (min-width: 768px) {
    #wpsl-stores {
      height: 350px; } }

#wpsl-gmap, #wpsl-result-list {
  margin-top: 2rem; }

#wpsl-wrap #wpsl-result-list ul li {
  border-bottom: 2px solid rgba(151, 151, 151, 0.7);
  color: #000; }

html {
  height: 100%; }

body.ion-ap3 {
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch !important;
  touch-action: pan-y !important;
  height: 100vh !important; }

ul {
  list-style-type: disc !important;
  margin-left: 20px;
  padding-left: 5px; }
  ul li {
    display: list-item !important; }

ol {
  list-style-type: decimal !important;
  margin-left: 20px;
  padding-left: 5px; }
  ol li {
    display: list-item !important; }
