{% extends 'base.twig' %}

{% block belowheader %}
{% endblock %}

{% block content %}
	<div class="archive-title">
		<h1>Story Archive</h1>
	</div>

	<span class="hide-filter-desktop">Filter</span>
	<div class="filter-head">
		<span class="hide-filter-mobile">Filter: </span>
		<button id="all-stories" type="button" class="switch-category-all learn-more selected-category">All</button>
		<button id="financial-stories" type="button" class="switch-category-financial learn-more">Financial</button>
		<button id="physical-stories" type="button" class="switch-category-physical learn-more">Physical</button>
		<button id="emotional-stories" type="button" class="switch-category-emotional learn-more">Emotional</button>
		<button id="nutritional-stories" type="button" class="switch-category-nutritional learn-more">Nutritional</button>
		<button id="wellbeing-stories" type="button" class="switch-category-wellbeing learn-more">Wellbeing</button>
	</div>

	<section class="main-content" style="margin-bottom: 1rem;">

		{# show all posts by default #}
		<div id="all-category" class="main-content__posts">
			{% for story in stories %}
				<a class="stagger-boxes push-page" href="{{ TimberPost( story.ID ).link }}">
					<div class="stagger-inner"
						{% if story.header_image %}
							style="background-image: url('{{ TimberImage( story.header_image ).src }}');"
						{% else %}
							style="background-image: url('{{ theme.link }}/static/images/card-default.jpg');"
						{% endif %} >

						<div {# container for the colored ribbon - the category specific classes control the blending - ribbon controls the layout #}
							{% if story.category == 'Financial' %}
								class="ribbon financial"
							{% elseif story.category == 'Physical' %}
								class="ribbon physical"
							{% elseif story.category == 'Nutritional' %}
								class="ribbon nutritional"
							{% elseif story.category == 'Emotional' %}
								class="ribbon emotional"
							{% elseif story.category == 'Wellbeing' %}
								class="ribbon wellbeing"
							{% endif %} >

							<div class="inner-content">
								<p>{{ story.category }}</p> {# display category of post #}
								<h5 class="h5-heading--w">{{ story.title }}</h5>
							</div>
						</div>
						<span class="read-story-button">Read Story</span>
					</div>
				</a>
			{% endfor %}
		</div> {# /.[__posts] #}

		{# switch to financial only when category is selected #}
		<div id="financial-category" class="hide-this"> {# main container for all the posts #}
			{% for story in stories %}
				{% if story.category == 'Financial' %}
					<a class="stagger-boxes push-page" href="{{ TimberPost( story.ID ).link }}">
						<div class="stagger-inner"
							{% if story.header_image %}
								style="background-image: url('{{ TimberImage( story.header_image ).src }}');"
							{% else %}
								style="background-image: url('{{ theme.link }}/static/images/card-default.jpg');"
							{% endif %} >

							<div class="ribbon financial">
								<div class="inner-content">
									<p>{{ story.category }}</p> {# display category of post #}
									<h5 class="h5-heading--w">{{ story.title }}</h5>
								</div>
							</div>
							<span class="read-story-button">Read Story</span>
						</div>
					</a>
				{% endif %}
			{% endfor %}
		</div> {# /.[__posts] #}

		{# switch to physical only when category is selected #}
		<div id="physical-category" class="hide-this"> {# main container for all the posts #}
			{% for story in stories %}
				{% if story.category == 'Physical' %}
					<a class="stagger-boxes push-page" href="{{ TimberPost( story.ID ).link }}">
						<div class="stagger-inner"
							{% if story.header_image %}
								style="background-image: url('{{ TimberImage( story.header_image ).src }}');"
							{% else %}
								style="background-image: url('{{ theme.link }}/static/images/card-default.jpg');"
							{% endif %} >

							<div class="ribbon physical">
								<div class="inner-content">
									<p>{{ story.category }}</p> {# display category of post #}
									<h5 class="h5-heading--w">{{ story.title }}</h5>
								</div>
							</div>
							<span class="read-story-button">Read Story</span>
						</div>
					</a>
				{% endif %}
			{% endfor %}
		</div> {# /.[__posts] #}

		{# switch to financial only when category is selected #}
		<div id="emotional-category" class="hide-this"> {# main container for all the posts #}
			{% for story in stories %}
				{% if story.category == 'Emotional' %}
					<a class="stagger-boxes push-page" href="{{ TimberPost( story.ID ).link }}">
						<div class="stagger-inner"
							{% if story.header_image %}
								style="background-image: url('{{ TimberImage( story.header_image ).src }}');"
							{% else %}
								style="background-image: url('{{ theme.link }}/static/images/card-default.jpg');"
							{% endif %} >

							<div class="ribbon emotional">
								<div class="inner-content">
									<p>{{ story.category }}</p> {# display category of post #}
									<h5 class="h5-heading--w">{{ story.title }}</h5>
								</div>
							</div>
							<span class="read-story-button">Read Story</span>
						</div>
					</a>
				{% endif %}
			{% endfor %}
		</div> {# /.[__posts] #}

		{# switch to financial only when category is selected #}
		<div id="nutritional-category" class="hide-this"> {# main container for all the posts #}
			{% for story in stories %}
				{% if story.category == 'Nutritional' %}
					<a class="stagger-boxes push-page" href="{{ TimberPost( story.ID ).link }}">
						<div class="stagger-inner"
							{% if story.header_image %}
								style="background-image: url('{{ TimberImage( story.header_image ).src }}');"
							{% else %}
								style="background-image: url('{{ theme.link }}/static/images/card-default.jpg');"
							{% endif %} >
							
							<div class="ribbon nutritional">
								<div class="inner-content">
									<p>{{ story.category }}</p> {# display category of post #}
									<h5 class="h5-heading--w">{{ story.title }}</h5>
								</div>
							</div>
							<span class="read-story-button">Read Story</span>
						</div>
					</a>
				{% endif %}
			{% endfor %}
		</div> {# /.[__posts] #}

		{# switch to financial only when category is selected #}
		<div id="wellbeing-category" class="hide-this"> {# main container for all the posts #}
			{% for story in stories %}
				{% if story.category == 'Wellbeing' %}
					<a class="stagger-boxes push-page" href="{{ TimberPost( story.ID ).link }}">
						<div class="stagger-inner"
							{% if story.header_image %}
								style="background-image: url('{{ TimberImage( story.header_image ).src }}');"
							{% else %}
								style="background-image: url('{{ theme.link }}/static/images/card-default.jpg');"
							{% endif %} >
							
							<div class="ribbon wellbeing">
								<div class="inner-content">
									<p>{{ story.category }}</p> {# display category of post #}
									<h5 class="h5-heading--w">{{ story.title }}</h5>
								</div>
							</div>
							<span class="read-story-button">Read Story</span>
						</div>
					</a>
				{% endif %}
			{% endfor %}
		</div> {# /.[__posts] #}

	</section> {# /.[main-content] #}
{% endblock %}