{% block footer %}
<section class="footer-wrapper">
	<div class="footer-main-container">

		<div class="footer-contact">
			<a class="blockify" href="tel:785-587-5328">785-587-5328</a>
			<a class="blockify" href="mailto:Tom.Roesler@spsci.com">Thrivers@SPSThrive.com</a>
			<span><a class="app-root-page" href="https://twitter.com/sps_thrive"><img src="{{ theme.link }}/static/images/twitter-icon.svg"></a></span>
			<span><a class="app-root-page" href="https://www.facebook.com/SPS-Thrive-129989284242637/"><img src="{{ theme.link }}/static/images/facebook-icon.svg"></a></span>
		</div>

		<div class="footer-link-menu">
			{{ function('thrive_render_footer_menu') }}
		</div>

	</div>
</section>
{% endblock %}