{% extends 'base.twig' %}

{% block belowheader %}
<div class="below-header-wrapper">
	<div class="header-image-container"
		style="background: url('{{ theme.link }}/static/images/poster-image.jpg'),
		url('{{ theme.link }}/static/images/concrete-header-overlay.png'),
		linear-gradient(to right, #BDBF42, #BDBF42, #3E9686, #23575D);">
		<img class="container-sizer" src="{{ theme.link }}/static/images/home-header.jpg">

		<div id="header-text" class="header-image-container__inner">
			{% if main_header %} <h1 class="h1-heading--w shadow-text">{{ main_header }}</h1> {% endif %}
			{% if sub_header %} <p class="shadow-text">{{ sub_header }}</p> {% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
	<section class="main-content">
		<div class="main-content__intro-text">
			<h3>{{ post.intro_header }}</h3>
			<p>{{ post.intro_paragraph }}</p>
			<p>{{ post.intro_paragraph_two }}</p>
		</div>

		<div class="main-content__posts"> {# main container for all the posts #}
			{% set count = 1 %}
			{% for story in stories %}
				{% if count <= 6 %}
					<a class="stagger-boxes push-page" href="{{ TimberPost( story.ID ).link }}">
						<div class="stagger-inner"
						{% if story.header_image %}
							style="background-image: url('{{ TimberImage( story.header_image ).src }}');"
						{% else %}
							style="background-image: url('{{ theme.link }}/static/images/card-default.jpg');"
						{% endif %} >

							<div {# container for the colored ribbon - the category specific classes control the blending - ribbon controls the layout #}
								{% if story.category == 'Financial' %}
									class="ribbon financial"
								{% elseif story.category == 'Physical' %}
									class="ribbon physical"
								{% elseif story.category == 'Nutritional' %}
									class="ribbon nutritional"
								{% elseif story.category == 'Emotional' %}
									class="ribbon emotional"
								{% elseif story.category == 'Wellbeing' %}
									class="ribbon wellbeing"
								{% endif %} >

								<div class="inner-content">
									<p>{{ story.category }}</p> {# display category of post in ribbon #}
									<h5 class="h5-heading--w">{{ story.title }}</h5>
								</div>
							</div>
							<span class="read-story-button">Read Story</span>
						</div>
					</a>
					{% set count = count + 1 %}
				{% endif %}
			{% endfor %}
		</div> {# /.[__posts] #}
	</section> {# /.[main-content] #}
{% endblock %}