{% extends 'base.twig' %}

{% block below_header %}
{% endblock %}

{% block content %}
<section class="main-content">
	<div class="main-content__posts"> {# main container for all the posts #}
		<div class="gym-locator-container">
			<h3 id="find-a-gym">Find a Great Deal on a Gym Membership Near You</h3>
			<h4>Help us get started! Send us gym recommendations and we'll see if we can make it happen!</h4>
			{# grab maps content via [wpsl] - shortcode #}
			{{ post.content }}
		</div>		
	</div> {# /.[__posts] #}
</section> {# /.[main-content] #}
{% endblock %}