{% extends 'base.twig' %}

{% block belowheader %}
<div class="below-header-wrapper">
	<div class="header-image-container"
		style="background: url('{{ TimberImage( post.background_image ).src }}'),
		url('{{ theme.link }}/static/images/concrete-header-overlay.png'),
		#969834;">
		<img class="container-sizer" src="{{ theme.link }}/static/images/home-header.jpg">
	
		<div class="header-image-container__inner alt-header-container">
			{% if main_header %} <h1 class="h1-heading--w shadow-text">{{ main_header }}</h1> {% endif %}
			{% if sub_header %} <p class="shadow-text">{{ sub_header }}</p> {% endif %}
			{% if btn_text %} <a class="arrow-button-header move-right push-page" href="{{ btn_link }}">{{ btn_text }}</a> {% endif %}
			{% if sub_btn_text %} <p class="shadow-text">{{ sub_btn_text }}</p> {% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
	<section class="main-content">
		<div class="main-content__intro-text">
			<h3>{{ post.intro_header }}</h3>
			<p>{{ post.intro_paragraph }}</p>
			<p>{{ post.intro_paragraph_two }}</p>
		</div>

		<div class="main-content__posts"> {# main container for all the posts #}
			
			{% set count = 1 %}
			{% for story in stories %}
				{% if count <= 6 and story.category == 'Nutritional' %}
					<a class="stagger-boxes push-page" href="{{ TimberPost( story.ID ).link }}">
						<div class="stagger-inner"
							{% if story.header_image %}
								style="background-image: url('{{ TimberImage( story.header_image ).src }}');"
							{% else %}
								style="background-image: url('{{ theme.link }}/static/images/card-default.jpg');"
							{% endif %} >

							<div class="ribbon nutritional">
								<div class="inner-content">
									<p>{{ story.category }}</p> {# display category of post #}
									<h5 class="h5-heading--w">{{ story.title }}</h5>
								</div>
							</div>
							<span class="read-story-button">Read Story</span>
						</div>
					</a>
					{% set count = count + 1 %}

				{# "Show More" Button clicked (js function handles the click event) #}
				{% elseif count > 6 and count <= 12 and story.category == 'Nutritional' %}
					<a class="show-more-boxes push-page" href="{{ TimberPost( story.ID ).link }}">
						<div class="stagger-inner"
							{% if story.header_image %}
								style="background-image: url('{{ TimberImage( story.header_image ).src }}');"
							{% else %}
								style="background-image: url('{{ theme.link }}/static/images/card-default.jpg');"
							{% endif %} >
						
							<div class="ribbon nutritional">
								<div class="inner-content">
									<p>{{ story.category }}</p> {# display category of post #}
									<h5 class="h5-heading--w">{{ story.title }}</h5>
								</div>
							</div>
							<span class="read-story-button">Read Story</span>
						</div>
					</a>
					{% set count = count + 1 %}
				{% endif %}
			{% endfor %}
		</div> {# /.[__posts] #}
		
		{# only show button if more than 6 posts are available #}
		{% if count >= 7 %}
			<div class="center-button-alt">
				<button id="load-more-posts" class="box-button">See More</button>
			</div>
		{% endif %}

	</section> {# /.[main-content] #}
{% endblock %}