{% extends 'base.twig' %}
{# Creates a new page for each post type [Story] #}

{% block belowheader %}
<div class="below-header-wrapper">
	<div class="header-image-container"
		{% if post.story_background %}
			style="background: url('{{ TimberImage( post.story_background ).src }}'),
			url('{{ theme.link }}/static/images/concrete-header-overlay.png'),
			linear-gradient(to right, #23575D, #3E9686, #BDBF42, #BDBF42);"
		{% else %} {# if no image entered then use the default #}
			style="background: url('{{ theme.link}}/static/images/poster-image.jpg'),
			url('{{ theme.link }}/static/images/concrete-header-overlay.png'),
			linear-gradient(to right, #23575D, #3E9686, #BDBF42, #BDBF42);"
		{% endif %}
		>
		
		<img class="container-sizer" src="{{ theme.link }}/static/images/home-header.jpg">

		<div class="header-image-container__inner">
			<h1 class="h1-heading--w shadow-text">{{ post.title }}</h1>
			<p class="shadow-text">{{ post.category }}</p>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
	<section class="main-content alt-main-benefits">
		<div class="story-wrapper" id="post-{{ post.ID }}">
			<h3 class="subheading">{{ post.intro_subhead }}</h3>
			<p class="h6-heading">{{ post.intro_subhead_paragraph}}</p>
			{{ post.content }}
		</div>

		{% if post.get_field('gallery_images') %}
			<div class="mini-gallery">
				{% for galimg in post.get_field('gallery_images') %}
					<img src="{{ TimberImage( galimg.gallery_image ).src }}" alt="{{ TimberImage( galimg.gallery_image ).alt }}">
				{% endfor %}
			</div>
		{% endif %}

		{% for book in post.get_field('book_setup') %}
			<div class="featured-book">
				<div class="featured-image">
					<img src="{{ TimberImage( book.featured_book_image ).src|tojpg }}" alt="{{ TimberImage( book.featured_book_image ).alt }}">
				</div>
				
				<div class="featured-info">
					<a class="book-title app-root-page" href="{{ book.book_link }}">{{ book.book_title }}</a>
					<h6>{{ book.book_author }}</h6>
					<p>{{ book.book_summary }}</p>
				</div>
			</div>
		{% endfor %}

		<section class="related-stories">
			<h4>Related Articles</h4>
			<div class="main-content__posts">
				{% set count = 1 %}
				{% for story in stories %}
					{% if count <= 3 %}
						{% if post.category == story.category %}
							<a class="stagger-boxes push-page" href="{{ TimberPost( story.ID ).link }}">
								<div class="stagger-inner"
									{% if story.header_image %}
										style="background-image: url('{{ TimberImage( story.header_image ).src }}');"
									{% else %}
										style="background-image: url('{{ theme.link }}/static/images/card-default.jpg');"
									{% endif %} >

									<div {# container for the colored ribbon #}
										{% if story.category == 'Financial' %}
											class="ribbon financial"
										{% elseif story.category == 'Physical' %}
											class="ribbon physical"
										{% elseif story.category == 'Nutritional' %}
											class="ribbon nutritional"
										{% elseif story.category == 'Emotional' %}
											class="ribbon emotional"
										{% elseif story.category == 'Wellbeing' %}
											class="ribbon wellbeing"
										{% endif %} >

										<div class="inner-content">
											<p>{{ story.category }}</p> {# display category of post #}
											<h5 class="h5-heading--w">{{ story.title }}</h5>
										</div>
									</div>
									<span class="read-story-button">Read Story</span>
								</div>
							</a>
							{% set count = count + 1 %}
						{% endif %} {# end of post category match/check #}
					{% endif %} {# end of count check #}
				{% endfor %} {# end of story posts loop #}
			</div> {# /.[__posts] #}

			<div class="center-button"><a class="box-button push-page" href="/story-archive/">View Stories Archive</a></div>
		</section> {# /.[related-stories] #}

	</section> {# /.[main-content] #}
{% endblock %}