// sections pull most styles from [front-page.scss] and these are slight changes to be applied to specific pages

// for pages Physical and Emotional
.alt-header-container {
	// shrink button on mobile to fit
	.arrow-button-header {
		padding: 0.3rem 2.8rem 0.3rem 0.7rem;

		@include bp(sm) {
			padding: 0.7rem 4.8rem 0.7rem 2rem;
		}
	}
}

.alt-styles-financial {
	p {
		&:last-of-type {
			margin-top: 1rem;
		}
	}

	// shrink button on mobile to fit
	.arrow-button-header {
		padding: 0.3rem 2.8rem 0.3rem 1rem;

		@include bp(sm) {
			margin-top: 5rem;
			padding: 0.7rem 4.8rem 0.7rem 2rem;
		}
	}

	.hide-on-mobile {
		display: none;

		@include bp(sm) {
			display: block;
		}
	}

	.hide-on-desktop {
		display: block;
		margin-top: 0.5rem;
		
		@include bp(sm) {
			display: none;
		}
	}
}

.alt-default-template {
	margin-bottom: 0;

	// ordered lists for the ambassadors page only
	.ambassador-lists {
		list-style-type: disc;
		padding-left: 1.8rem !important; // overwrite reset css
	}
}