// Large header background - Expands 1320px
.header-image-container {
	max-width: 100%;
	position: relative; // used to change stacking order
	background-blend-mode: multiply;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center;

	// For Templates without a video background
	.container-sizer {
		visibility: hidden;
		// element used to allow the image to resize properly (resizes the background styles with it)
	}

	&__inner {
		position: absolute;
		margin: 0 auto;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		text-align: center;
		z-index: 15;

		h1 {
			margin-bottom: 0;
		}
		
		p {
			margin-top: 0;
			color: $white !important;
			font-weight: 600; // semi-bold
			padding: 0 0.5rem;
	
			@include bp(md) {
				padding: initial;
			}
		}

		.shadow-text a {
			color: $white;
			border-bottom: 2px solid $white; // text decoration was too hard to see

			&:hover { color: $light-black; }
		}

		// Keep text from being too long, allow video to flow by not constraining entire header to 60rem
		h1, p, a {
			max-width: 16rem;
			margin: 0 auto;

			@include bp(sm) {
				max-width: 60rem;
			}
		}

		.arrow-button-header {
			margin-bottom: 0;

			// small amount of margin on ipad (keeps diamond off cta)
			@include bp(sm) {
				margin-bottom: 1.5rem;
			}

			@include bp(md) {
				margin-bottom: 0;
			}
		}

		.move-right {
			margin-left: 2.2rem;
			margin-top: 5px;
	
			@include bp(sm) {
				margin-top: 3rem;
			}
		}

		.overlay {
			max-width: 100%;
		}

		.close-button {
			position: absolute;
			top: 0;
			right: 0;
			width: 3rem;
			z-index: 20;
			padding-top: 0.2rem;
			padding-bottom: 0.2rem;
			border: none;

			&:hover { cursor: pointer; }
		}
	}

	// Show the video / hide text + bg video
	.fade-in {
		visibility: visible;
		opacity: 1;
		transition: 1s ease-out;
	}

	// hide the video / show text + bg video
	.fade-out {
		visibility: hidden;
		opacity: 0;
		transition: 0.6s ease-in;
	}
}