// standard text link button
.learn-more {
	color: $teal;
	font-size: 1.125rem;
	&:hover { text-decoration: underline; }
}

.learn-more-white {
	color: $white;
	font-size: 1.125rem;
	font-weight: 600; // semi-bold
	&:hover { text-decoration: underline; }
}

// Arrow Button
.arrow-button-header {
	display: inline-block;
	background-color: $white;
	font-size: 1.125rem;
	font-weight: 600;
	font-family: $font-body;
	text-align: center;
	padding: 0.3rem 2.5rem 0.3rem 1rem;
	position: relative;
	clip-path: polygon(0% 0%, 78% 0%, 86% 50%, 78% 100%, 0% 100%); // creates a right "chevron" style mask
	color: $black;
	margin-top: 3rem;

	@include bp(sm) { padding: 0.7rem 7rem 0.7rem 4.8rem; }

	&:hover {
		background: $teal;
		color: $white;
		cursor: pointer;
	}
}

.arrow-button {
	@extend .arrow-button-header;
	text-align: left;
}

// on the story snippet cards
.read-story-button {
	display: inline-block;
	background-color: $white;
	font-size: 1.125rem;
	font-weight: 600;
	clip-path: polygon(0% 0%, 78% 0%, 86% 50%, 78% 100%, 0% 100%); // creates a right "chevron" style mask
	padding: 0.7rem 5rem 0.7rem 0.7rem;
}

.box-button {
	display: inline-block;
	width: 14rem;
	background-color: $teal;
	color: $white;
	text-align: center;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	font-size: 1.125rem;
	font-weight: bold;

	&:hover {
		background-color: $dark-teal;
	}
}

.slim-button {
	border: 1px solid $light-black;
	padding: 0.4rem 1.5rem;
	color: $light-black;
	font-size: 1.125rem;

	&:hover {
		background-color: $light-black;
		color: $white;
	}
}

// center a button and add spacing to it for other elements
.center-button {
	max-width: 100%;
	margin: 1rem auto 4rem;
	text-align: center;

	@include bp(sm) { margin: 6rem auto 8rem; }

	#load-more-posts {
		transition: 0.3s ease-out;
		border: none;

		&:hover {
			transition: 0.3s ease-out;
			cursor: pointer;
		}
	}
}

// alt center button style (has content below the button)
.center-button-alt {
	max-width: 100%;
	margin: 1rem auto 3rem;
	text-align: center;

	@include bp(sm) { margin: 2rem auto;}

	#load-more-posts {
		transition: 0.3s ease-out;
		border: none;

		&:hover {
			transition: 0.3s ease-out;
			cursor: pointer;
		}
	}
}