.alt-main-contact {
	max-width: 50rem;
	margin: 0 auto 2rem;
	padding: 1rem;

	@include bp(md) {
		padding: 0;
		margin: 0 auto 11rem;
	}

	h3 {
		margin-bottom: 0;

		&:first-of-type { // Say Hello.
			margin-top: 0; // top container adds margin (none here)
		}

		&:last-of-type { // Contact Us.
			margin-bottom: 1.5rem;
		}
	}

	.center-heading {
		text-align: center;
		@include bp(sm) { text-align: left; }
	}
}

// After both forms
.contact-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include bp(sm) {
		align-items: initial;
		justify-content: space-between;
		flex-direction: row;
	}

	p {
		font-weight: 600; // semi-bold for Freight Pro
	}

	a {
		color: $light-black;
	}
}