// footer styles
.footer-wrapper {
	max-width: 100%;
	background: url('static/images/concrete-background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba($smoke, 0.8);
	background-blend-mode: multiply;
	padding: 0 0.8rem;
}

.footer-main-container {
	max-width: 75rem;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;

	@include bp(sm) {
		flex-direction: row;
		justify-content: space-between;
		text-align: left;
	}

	.footer-contact {

		a {
			color: $white;
			font-size: 1.125rem;
			font-weight: bold;
		}

		.blockify {
			display: block;
			margin-bottom: 0.7rem;

			&:first-of-type {
				margin-top: 1.6rem;
			}
		}

		span:first-of-type {
			margin-right: 1.3rem;
		}
	}

	.footer-link-menu {

		ul {
			list-style-type: none;
			padding-left: 0;
		}

		li {
			margin-bottom: 10px;

			&:first-of-type {
				margin-top: 2.5rem;
			}
		}

		a {
			color: $white;
			font-size: 1.125rem;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}