// Starts after the 2 diamond class divs
.main-content {
	max-width: 100%;
	margin: 0 auto;

	&__intro-text {
		max-width: 50rem;
		margin: 0 auto 2rem;
		padding: 0 1rem;
		
		p { color: $light-black !important; }

		h3 {
			padding-top: 2rem;
			text-align: center;
			margin-bottom: 0;
		}
	}

	&__posts {
		max-width: 75rem;
		margin: 0 auto 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 1rem;
		flex-wrap: wrap;

		// switch perspective (2x1) rows
		@include bp(sm) {
			flex-direction: row;			
			padding: 0;
		}

		// flex content to (3x1) rows
		@include bp(md) {
			justify-content: flex-start;
			align-items: flex-start;
		}

		// Toggle Control styles for the "Show More" button
		.show-more-boxes {
			display: none; // Page height jump fix
			// opacity: 0;
			// visibility: hidden;
			// position: absolute; // remove from DOM

			&.stagger-boxes {
				display: block; // page height jump fix
				// position: relative; // put back in proper location in DOM
				// visibility: visible;
				// opacity: 1;
				// transition: visibility 1s, opacity 1s ease-out; // smooth transition to this class
			}
		}

		// repeat staggered boxes
		.stagger-boxes {
			padding: 0.5rem;
			margin-bottom: 1rem;

			.stagger-inner {
				min-height: 15rem;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				transition: 0.3s ease-out;
				padding-top: 1rem; // used to move [.ribbon] down
				position: relative;

				&:hover {
					transition: 0.3s ease-in;
					opacity: 0.8;
				}

				// Prevents container height from growing if ribbons have a lot of text (ribbon still grows / container does not / same height)
				.read-story-button {
					position: absolute;
					bottom: 1rem;
					left: 0;
				}

				// Ribbon size for story snippets
				.ribbon {
					max-width: 16.2rem;
					position: relative;
					// blend mode applied on the category specific colors in [_globals.scss]

					.inner-content { // needed to exclude child elements from blend mode
						position: relative;
						padding-left: 0.7rem;

						p {
							margin-top: 0;
							padding-top: 0.5rem;
							color: $white;
							margin-bottom: 0.1rem;
						}
	
						h5 {
							margin-top: 0;
							padding-bottom: 0.5rem;
						}
					}
				}
			}

			&:nth-child(6n+1) {
				max-width: 20rem;
				min-width: 17.2rem; // Short text in ribbons causes collapsing of box
				@include bp(375px) { width: 23rem; }
				@include bp(md) { width: 25%; }
			}

			&:nth-child(6n+2) {
				max-width: 20rem;
				min-width: 17.2rem; // Short text in ribbons causes collapsing of box
				@include bp(375px) { width: 23rem; }
				@include bp(md) { width: 25%; }
			}

			&:nth-child(6n+3) {
				max-width: 20rem;
				min-width: 17.2rem; // Short text in ribbons causes collapsing of box
				@include bp(375px) { width: 23rem; }
				@include bp(md) { width: 50%; }
			}

			&:nth-child(6n+4) {
				max-width: 20rem;
				min-width: 17.2rem; // Short text in ribbons causes collapsing of box
				@include bp(375px) { width: 23rem; }
				@include bp(md) { width: calc(100%/3); }
			}

			&:nth-child(6n+5) {
				max-width: 20rem;
				min-width: 17.2rem; // Short text in ribbons causes collapsing of box
				@include bp(375px) { width: 23rem; }
				@include bp(md) { width: calc(100%/3); }
			}

			&:nth-child(6n+6) {
				max-width: 20rem;
				min-width: 17.2rem; // Short text in ribbons causes collapsing of box
				@include bp(375px) { width: 23rem; }
				@include bp(md) { width: calc(100%/3); }
			}
		}
	} // end [__posts]
}