* {
	box-sizing: border-box;
}

html, body {
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
	overflow-x: hidden;
}

// standard transition for all links
a {
	font-family: $font-body;
	text-decoration: none;
	transition: 0.3s ease-out;

	// Font Variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;
	font-feature-settings: "lnum" 1;

	&:hover { transition: 0.3s ease-out; }
}

img {
	max-width: 100%;
	height: auto;
}

// hide utility
.hide-this {
	display: none;
}

/***************************
	Wrappers & Ribbon Colors 
*/

// Header Image Area Wrapper
.below-header-wrapper {
	max-width: 82.5rem;
	margin: 0 auto;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 15;
		background-size: cover; // allows diamond cutout to resize properly
		background-repeat: no-repeat; // prevent it from repeating as the size changes
		background-image: url('static/images/diamond-cutout-header.png');
		mix-blend-mode: overlay;
	}
}

// Everything else below the large header image
.content-wrapper {
	max-width: 75rem; // 1200px
	margin: 0 auto;

	@include bp(sm) {
		margin: 2rem auto 0;
	}
}

// Colored ribbons on story snippets
.financial {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		mix-blend-mode: multiply;
		background-color: $gold;
	}
}

.nutritional {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		mix-blend-mode: multiply;
		background-color: $light-gold;
	}
}

.physical {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		mix-blend-mode: multiply;
		background-color: $teal;
	}
}

.emotional {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		mix-blend-mode: multiply;
		background-color: $dark-teal;
	}
}

.wellbeing {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		mix-blend-mode: multiply;
		background-color: $aquamarine;
	}
}