.gym-locator-container {
	max-width: 75rem;

	@include bp(sm) {
		margin: 0 auto 10rem;
	}
	
	h3, h4 {
		text-align: center;
	}

	h3 {
		font-size: 1.3rem;
	}

	h4 {
		font-size: 1.2rem;
	}

	h3:first-of-type {
		margin-top: 2rem;
	}
}