.story-wrapper {
	max-width: 50rem;
	margin: 2rem auto 0;
	padding-left: 1rem;
	padding-right: 1rem;

	.subheading {
		margin-bottom: 1rem;
	}

	// for headings that add space below them and the paragraph they go with. (top margin left for spacing)
	h5, h6 {
		margin-bottom: 0;
	}

	a {
		color: $teal;
		font-size: 1.125rem; // bumped up to same size as paragraph font size
		text-decoration: underline;
	}

	// make list color same as text
	ol, ul {
		padding-bottom: 1rem;

		li {
			display: list-item !important; // explicit because some lists break in the app.
			color: $light-black;
			font-family: $font-body;
			font-size: 1.125rem;
		}
	}

	ul {
		list-style-type: disc !important;
	}

	p, .p1 {
		padding-bottom: 1rem;
		color: $light-black !important;
	}

	.p1 iframe, p iframe, iframe {
		width: 285px !important;
		height: 150px !important;

		@include bp(sm) {
			width: 500px !important;
			height: 281px !important;
		}
	}
}

.mini-gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 50rem;
	max-width: 100%;
	margin: 0 auto;

	@include bp(sm) {
		flex-direction: row;
		align-items: initial;
		justify-content: space-between;
		margin-bottom: 2rem;
	}

	img {
		padding: 1.3rem 0.5rem;

		&:nth-child(5n+1) {
			width: 20rem;

			@include bp(sm) {
				width: 50%;
				height:16.25rem;
			}
		}

		&:nth-child(5n+2) {
			width: 20rem;

			@include bp(sm) {
				width: 50%;
				height:16.25rem;
			}
		}

		&:nth-child(5n+3) {
			width: 20rem;
			height: 80%;

			@include bp(sm) {
				width: calc(100%/3);
			}
		}

		&:nth-child(5n+4) {
			width: 20rem;
			height: 80%;

			@include bp(sm) {
				width: calc(100%/3);
			}
		}

		&:nth-child(5n+5) {
			width: 20rem;
			height: 80%;

			@include bp(sm) {
				width: calc(100%/3);
			}
		}
	}
}

.featured-book {
	margin: 0 auto 2rem;
	max-width: 50rem;
	padding-left: 1rem;
	padding-right: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include bp(sm) {
		flex-direction: row;
		align-items: initial;
		justify-content: space-between;
	}

	.featured-image img {
		max-width: 18rem;

		@include bp(sm) {
			margin-right: 1rem;
		}
	}

	.featured-info {
		text-align: center;
		max-width: 29.5rem;
		@include bp(sm) { text-align: left; }
		
		.book-title {
			font-size: 1.25rem;
			font-family: $font-head;
			color: $black;
			font-weight: bold;
			text-decoration: underline;
			transition: none;

			&:hover {
				transition: none;
				color: $teal;
			}
		}

		h6 {
			font-family: $font-body;
			text-transform: none;
			font-weight: 600;
			margin-top: 0.1rem;
			margin-bottom: 0.1rem;
		}

		p {
			color: $light-black !important;
		}
	}
}

.related-stories {
	background-color: $white;
	position: relative;
	margin-bottom: 0;
	width: 100vw;
	left: 50%; // pushes box 50% off left edge
	margin-left: -50vw; // brings content back to center while leaving the box edges extended
	@include bp(md) { margin-bottom: 9rem; }

	h4 {
		margin: 0;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem; 
		text-align: center;
	}

	.stagger-boxes {

		&:nth-child(3n+1), &:nth-child(3n+2), &:nth-child(3n+3) {
			width: 20rem;

			@include bp(sm) {
				width: calc(100%/3);
			}
		}
	} // end [.stagger-boxes]

	.center-button {
		max-width: 100%;
		margin: 0 auto;
	}

	.box-button {
		margin-bottom: 2.5rem;
	}
}