// standard colors
$white: #FFF;
$black: #000;
$light-grey: #999;

// social icon colors
$twitter-blue: #0084FF;
$facebook-blue: #3B5998;
$google-red: #D34836;

// SPS Thrive Colors
$light-black: #191A18;
$smoke: #393939;
$space-grey: #EEE;
$wpsl-grey: #979797;
$teal: #3E9686;
$dark-teal: #23575D;
$gold: #BDBF42;
$light-gold: #E4DF56;
$aquamarine: #58D38C;

// fonts
$font-head: industry, helvetica, sans-serif;
$font-body: freight-sans-pro, helvetica, sans-serif;

// mq sizes
$small-tablet: 400px;
$tablet: 768px;
$laptop: 1023px;
$desktop: 1200px;

// mq include
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px)  { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}