/*!
Theme Name: Ion AP3 Child Theme
Author: Shane - 502 Media Group
Author URI: https://weare502.com
Description: A child theme for the Ion AP3 theme.
Version: 1.9.2
Template: ap3-ion-theme
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

 // utilities/reset
// @import "reset";
@import "mq";
@import "variables";
@import "globals";
@import "typography";
@import "buttons";
@import "gforms-styles";

// header/footer
@import "below-header";
@import "footer";

// main pages
@import "front-page"; // almost all styles are pulled from this stylesheet
@import "alt-styles-main"; // alternate styles for pages that look the same, but have slight differences
@import "gym-locator";
@import "physical"; // for the gym finder
@import "providers";
@import "contact";
@import "single-story";
@import "archive";
@import "wpsl-overrides"; // store locator style overrides

// Overrides to make App scroll.
html {
	height: 100%;
}

body.ion-ap3 {
	overflow-y: auto !important;
	-webkit-overflow-scrolling: touch !important;
	touch-action: pan-y !important;
	height: 100vh !important;
}

// overrides to fix lists (Ion Theme wrecks lists)
ul {
	list-style-type: disc !important;
	margin-left: 20px;
	padding-left: 5px;

	li {
		display: list-item !important;
	}
}

ol {
	list-style-type: decimal !important;
	margin-left: 20px;
	padding-left: 5px;

	li {
		display: list-item !important;
	}
}